In [ ]:
import kagglehub
path = kagglehub.dataset_download("alexandervarlamov/cars-trucks-bikes-buses-in-movies")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/alexandervarlamov/cars-trucks-bikes-buses-in-movies?dataset_version_number=1...

100%|██████████| 63.9M/63.9M [00:01<00:00, 55.1MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/alexandervarlamov/cars-trucks-bikes-buses-in-movies/versions/1

In [ ]:
# naložite v notebook ali .py datoteko
import pandas as pd

dataframe = pd.read_csv("/content/drive/MyDrive/Cars in Movies.csv", sep=";", index_col="Car Id", decimal=".")

In [ ]:
# izpišite koliko vrstic in stolpcev je v tej podatkovni zbirki
dataframe.shape

(112777, 20)

In [ ]:
# prikažite katerih tipov so podatki, shranjeni v tej datoteki in zraven v komentar ali
# tekstovni blok zapišite ali gre za numeričen ali kategoričen tip podatka
dataframe.dtypes
# V podatkovni bazi sta dva numerična tipa in sicer float64,
# ostali so tipa object oz. najverjetneje kombinacija števila in teksta torej kategoričen

Car Full Name                object
Car Name                     object
Car Year                    float64
Brand                        object
Movie Title                  object
Movie Type                   object
Movie Years and Episodes     object
IMDb Link                    object
Class                        object
Car Type                     object
Car Origin                   object
Car Built In                 object
Car Made For                 object
Time In Movie                object
Car Stars                    object
Movie Eng Title              object
Movie Original Title         object
Car Image Link               object
Movie Year                  float64
IMDb Movie Id                object
dtype: object

In [ ]:
# izpišite prvih 5 vrstic
dataframe.head(5)

,Car Full Name,Car Name,Car Year,Brand,Movie Title,Movie Type,Movie Years and Episodes,IMDb Link,Class,Car Type,Car Origin,Car Built In,Car Made For,Time In Movie,Car Stars,Movie Eng Title,Movie Original Title,Car Image Link,Movie Year,IMDb Movie Id
Car Id,,,,,,,,,,,,,,,,,,,,
1,1966 Ford Mustang,Ford Mustang,1966.0,Ford,The Flood: Who Will Save Our Children?,Movie made for TV,1993,https://www.imdb.com/title/tt0106930/,Cars,Convertible,Australia,NaN,Australia,NaN,Minor action vehicle or used in only a short s...,The Flood: Who Will Save Our Children?,The Flood: Who Will Save Our Children?,https://www.imcdb.org/i000001.jpg,1993.0,tt0106930
2,1983 Ford LTD Crown Victoria,Ford LTD Crown Victoria,1983.0,Ford,The Flood: Who Will Save Our Children?,Movie made for TV,1993,https://www.imdb.com/title/tt0106930/,Cars,Sedan,USA,NaN,NaN,NaN,Background vehicle,The Flood: Who Will Save Our Children?,The Flood: Who Will Save Our Children?,https://www.imcdb.org/i000002.jpg,1993.0,tt0106930
3,1989 Ford F-250 Ambulance,Ford F-250 Ambulance,1989.0,Ford,The Flood: Who Will Save Our Children?,Movie made for TV,1993,https://www.imdb.com/title/tt0106930/,Cars,Ambulance,Australia,Australia,Australia,NaN,Minor action vehicle or used in only a short s...,The Flood: Who Will Save Our Children?,The Flood: Who Will Save Our Children?,https://www.imcdb.org/i000003.jpg,1993.0,tt0106930
4,1971 Cadillac Sedan DeVille,Cadillac Sedan DeVille,1971.0,Cadillac,The Flood: Who Will Save Our Children?,Movie made for TV,1993,https://www.imdb.com/title/tt0106930/,Cars,Sedan,USA,NaN,NaN,NaN,Background vehicle,The Flood: Who Will Save Our Children?,The Flood: Who Will Save Our Children?,https://www.imcdb.org/i000004.jpg,1993.0,tt0106930
8,1964 Opel Rekord L [A],Opel Rekord L,1964.0,Opel,Le casse,Movie,1971,https://www.imdb.com/title/tt0068347/,Cars,Sedan,Germany,NaN,NaN,NaN,Vehicle used a lot by a main character or for ...,Le casse,Le casse,https://www.imcdb.org/i000008.jpg,1971.0,tt0068347

In [ ]:
# izpišite zadnje 3 vrstice
dataframe.tail(3)

,Car Full Name,Car Name,Car Year,Brand,Movie Title,Movie Type,Movie Years and Episodes,IMDb Link,Class,Car Type,Car Origin,Car Built In,Car Made For,Time In Movie,Car Stars,Movie Eng Title,Movie Original Title,Car Image Link,Movie Year,IMDb Movie Id
Car Id,,,,,,,,,,,,,,,,,,,,
123093,1966 Ford Mustang,Ford Mustang,1966.0,Ford,Mondo Bizarro,Documentary,1966,https://www.imdb.com/title/tt0188909/,Cars,Coupé,USA,NaN,NaN,NaN,Background vehicle,Mondo Bizarro,Mondo Bizarro,https://www.imcdb.org/i123093.jpg,1966.0,tt0188909
123094,1963 Ford Thunderbird [76A],Ford Thunderbird,1963.0,Ford,Mondo Bizarro,Documentary,1966,https://www.imdb.com/title/tt0188909/,Cars,Convertible,USA,NaN,NaN,NaN,Background vehicle,Mondo Bizarro,Mondo Bizarro,https://www.imcdb.org/i123094.jpg,1966.0,tt0188909
123095,1956 Ford Thunderbird [40A],Ford Thunderbird,1956.0,Ford,Mondo Bizarro,Documentary,1966,https://www.imdb.com/title/tt0188909/,Cars,Convertible,USA,NaN,NaN,NaN,Background vehicle,Mondo Bizarro,Mondo,NaN,NaN,NaN

In [ ]:
# izpišite opisno statistiko za vse številske stolpce
dataframe.describe()

            Car Year     Movie Year
count  100618.000000  112456.000000
mean     1974.987199    1987.477147
std        18.819903      16.466408
min      1871.000000    1900.000000
25%      1963.000000    1976.000000
50%      1976.000000    1991.000000
75%      1990.000000    2002.000000
max      2008.000000    2008.000000

In [ ]:
# Izpišite vse vrstice, ki imajo v izbranem stolpcu določeno vrednost (npr. vse vrstice, ki imajo v stolpcu "ABC" vrednost 50)
dataframe[dataframe["Brand"] == "Ford"]

,Car Full Name,Car Name,Car Year,Brand,Movie Title,Movie Type,Movie Years and Episodes,IMDb Link,Class,Car Type,Car Origin,Car Built In,Car Made For,Time In Movie,Car Stars,Movie Eng Title,Movie Original Title,Car Image Link,Movie Year,IMDb Movie Id
Car Id,,,,,,,,,,,,,,,,,,,,
1,1966 Ford Mustang,Ford Mustang,1966.0,Ford,The Flood: Who Will Save Our Children?,Movie made for TV,1993,https://www.imdb.com/title/tt0106930/,Cars,Convertible,Australia,NaN,Australia,NaN,Minor action vehicle or used in only a short s...,The Flood: Who Will Save Our Children?,The Flood: Who Will Save Our Children?,https://www.imcdb.org/i000001.jpg,1993.0,tt0106930
2,1983 Ford LTD Crown Victoria,Ford LTD Crown Victoria,1983.0,Ford,The Flood: Who Will Save Our Children?,Movie made for TV,1993,https://www.imdb.com/title/tt0106930/,Cars,Sedan,USA,NaN,NaN,NaN,Background vehicle,The Flood: Who Will Save Our Children?,The Flood: Who Will Save Our Children?,https://www.imcdb.org/i000002.jpg,1993.0,tt0106930
3,1989 Ford F-250 Ambulance,Ford F-250 Ambulance,1989.0,Ford,The Flood: Who Will Save Our Children?,Movie made for TV,1993,https://www.imdb.com/title/tt0106930/,Cars,Ambulance,Australia,Australia,Australia,NaN,Minor action vehicle or used in only a short s...,The Flood: Who Will Save Our Children?,The Flood: Who Will Save Our Children?,https://www.imcdb.org/i000003.jpg,1993.0,tt0106930
10,1960 Ford Falcon Wagon Deluxe [XK],Ford Falcon Wagon Deluxe,1960.0,Ford,Mad Max,Movie,1979,https://www.imdb.com/title/tt0079501/,Cars,Wagon,Australia,Australia,Australia,NaN,Background vehicle,Mad Max,Mad Max,https://www.imcdb.org/i000010.jpg,1979.0,tt0079501
11,1961 Ford Falcon Utility [XK],Ford Falcon Utility,1961.0,Ford,Mad Max,Movie,1979,https://www.imdb.com/title/tt0079501/,Cars,Pick-up,Australia,Australia,Australia,NaN,Minor action vehicle or used in only a short s...,Mad Max,Mad Max,https://www.imcdb.org/i000011.jpg,1979.0,tt0079501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123083,Ford D-Series,Ford D-Series,NaN,Ford,Mondo Bizarro,Documentary,1966,https://www.imdb.com/title/tt0188909/,Trucks,Simple truck,United Kingdom,NaN,NaN,NaN,Background vehicle,Mondo Bizarro,Mondo Bizarro,https://www.imcdb.org/i123083.jpg,1966.0,tt0188909
123090,1955 Ford Customline Tudor Sedan,Ford Customline Tudor Sedan,1955.0,Ford,Mondo Bizarro,Documentary,1966,https://www.imdb.com/title/tt0188909/,Cars,Sedan,USA,NaN,NaN,NaN,Background vehicle,Mondo Bizarro,Mondo Bizarro,https://www.imcdb.org/i123090.jpg,1966.0,tt0188909
123093,1966 Ford Mustang,Ford Mustang,1966.0,Ford,Mondo Bizarro,Documentary,1966,https://www.imdb.com/title/tt0188909/,Cars,Coupé,USA,NaN,NaN,NaN,Background vehicle,Mondo Bizarro,Mondo Bizarro,https://www.imcdb.org/i123093.jpg,1966.0,tt0188909
123094,1963 Ford Thunderbird [76A],Ford Thunderbird,1963.0,Ford,Mondo Bizarro,Documentary,1966,https://www.imdb.com/title/tt0188909/,Cars,Convertible,USA,NaN,NaN,NaN,Background vehicle,Mondo Bizarro,Mondo Bizarro,https://www.imcdb.org/i123094.jpg,1966.0,tt0188909
123095,1956 Ford Thunderbird [40A],Ford Thunderbird,1956.0,Ford,Mondo Bizarro,Documentary,1966,https://www.imdb.com/title/tt0188909/,Cars,Convertible,USA,NaN,NaN,NaN,Background vehicle,Mondo Bizarro,Mondo,NaN,NaN,NaN

In [ ]:
# Manjkajoče številske podatke nadomestite s povprečjem.
dataframe["Car Year"].fillna(dataframe["Car Year"].mean(), inplace=True)
dataframe["Movie Year"].fillna(dataframe["Movie Year"].mean(), inplace=True)
dataframe.isnull().sum()

<ipython-input-32-e723be888371>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["Car Year"].fillna(dataframe["Car Year"].mean(), inplace=True)
<ipython-input-32-e723be888371>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["Movie Year"].fillna(dataframe["Movie Year"].mean(), inplace=True)

Car Full Name                    0
Car Name                         0
Car Year                         0
Brand                            0
Movie Title                      0
Movie Type                       0
Movie Years and Episodes       320
IMDb Link                     1705
Class                          110
Car Type                       110
Car Origin                     879
Car Built In                105757
Car Made For                 97230
Time In Movie                84560
Car Stars                        0
Movie Eng Title                  0
Movie Original Title             0
Car Image Link                   1
Movie Year                       0
IMDb Movie Id                 1706
dtype: int64

In [ ]:
# Manjkajoče kategorične podatke ustrezno nadomestite.
dataframe["Movie Years and Episodes"].fillna("Still Running", inplace=True)
dataframe["IMDb Link"].fillna("Link Not Found", inplace=True)
dataframe["Class"].fillna("Vehicle", inplace=True)
dataframe["Car Type"].fillna("Vehicle", inplace=True)
dataframe["Car Origin"].fillna("Unknown", inplace=True)
dataframe["Car Built In"].fillna("Unknown", inplace=True)
dataframe["Car Made For"].fillna("Unknown", inplace=True)
dataframe["Time In Movie"].fillna("Unknown", inplace=True)
dataframe["Car Image Link"].fillna("Image Not Found", inplace=True)
dataframe["IMDb Movie Id"].fillna("Not Found", inplace=True)
dataframe.isnull().sum()

<ipython-input-42-cf08cef08ea4>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["IMDb Link"].fillna("Link Not Found", inplace=True)
<ipython-input-42-cf08cef08ea4>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["Car Type"].fillna("Vehicle", inplace=True)
<ipython-input-42-cf08cef08ea4>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["Car Origin"].fillna("Unknown", inplace=True)
<ipython-input-42-cf08cef08ea4>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["Car Built In"].fillna("Unknown", inplace=True)
<ipython-input-42-cf08cef08ea4>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["Car Made For"].fillna("Unknown", inplace=True)
<ipython-input-42-cf08cef08ea4>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["Time In Movie"].fillna("Unknown", inplace=True)
<ipython-input-42-cf08cef08ea4>:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["Car Image Link"].fillna("Image Not Found", inplace=True)
<ipython-input-42-cf08cef08ea4>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe["IMDb Movie Id"].fillna("Not Found", inplace=True)

Car Full Name               0
Car Name                    0
Car Year                    0
Brand                       0
Movie Title                 0
Movie Type                  0
Movie Years and Episodes    0
IMDb Link                   0
Class                       0
Car Type                    0
Car Origin                  0
Car Built In                0
Car Made For                0
Time In Movie               0
Car Stars                   0
Movie Eng Title             0
Movie Original Title        0
Car Image Link              0
Movie Year                  0
IMDb Movie Id               0
dtype: int64

In [ ]:
# Smiselno uporabite grupiranje in slekcijo stolpcev.
# Izpis znamke in leta v katerem se je ta znamka pojavila največkrat
dataframe.groupby("Brand")["Movie Year"].max()

Brand
AA               1981.0
ABOAG            1978.0
AC               2004.0
AC Propulsion    2006.0
ACF-Brill        2003.0
                  ...
Škoda            2007.0
Škoda-Liaz       1997.0
Żubr             1973.0
Żuk              2005.0
Ẽfini            2002.0
Name: Movie Year, Length: 1794, dtype: float64