In [1]:
# 1. Naložite nasledenje podatke v nov notebook (.ipynb) ali .py dokument:
import pandas as pd

DataFrame1 = pd.read_csv("/content/drive/MyDrive/university_rank_2020.csv", sep=",", index_col="University", decimal=".")
DataFrame2 = pd.read_csv("/content/drive/MyDrive/university_rank_other.csv", sep=" ", index_col=0, decimal=".")
DataFrame3 = pd.read_excel("/content/drive/MyDrive/university_rank_students.xlsx", index_col="University")

# DataFrame1.head(5)
DataFrame2.head(5)
# DataFrame3.head(5)

,Teaching,Research,Citations,Industry_Income,International_Outlook
University of Oxford,90.5,99.6,98.4,65.5,excellent
California Institute of Technology,92.1,97.2,97.9,88.0,excellent
University of Cambridge,91.4,98.7,95.8,59.3,excellent
Stanford University,92.8,96.4,99.9,66.2,excellent
Massachusetts Institute of Technology,90.5,92.4,99.5,86.9,excellent

In [2]:
# 2. Vse DataFrame-e združite v en DataFrame (poimenujte ga df).
df = pd.concat([DataFrame1, DataFrame2, DataFrame3], axis=1)
# df.head(25)

df.shape

(1396, 13)

In [ ]:
# 3. Izpišite število vrstic in stolpcev, ki jih ima novo ustvarjeni df in preglejte kako izgleda prvih 10 vrstic.
df.shape
df.head(10)

,Country,Number_students,Numb_students_per_Staff,Score_Result,Rank,Teaching,Research,Citations,Industry_Income,International_Outlook,International_Students(%),Percentage_Female(%),Percentage_Male(%)
University of Oxford,United Kingdom,20.664,11.2,95.4,1,90.5,99.6,98.4,65.5,excellent,41.0,46.0,54.0
California Institute of Technology,United States,2.240,6.4,94.5,2,92.1,97.2,97.9,88.0,excellent,30.0,NaN,66.0
University of Cambridge,United Kingdom,18.978,10.9,94.4,3,91.4,98.7,95.8,59.3,excellent,37.0,47.0,53.0
Stanford University,United States,16.135,7.3,94.3,4,92.8,96.4,99.9,66.2,excellent,NaN,43.0,57.0
Massachusetts Institute of Technology,United States,11.247,8.6,93.6,5,90.5,92.4,99.5,86.9,excellent,34.0,39.0,61.0
Princeton University,United States,7.983,8.1,93.2,6,90.3,96.3,98.8,58.6,excellent,25.0,45.0,55.0
Harvard University,United States,20.823,9.2,93.0,7,89.2,98.6,99.1,47.3,excellent,24.0,49.0,51.0
Yale University,United States,12.402,5.4,91.7,8,92.0,94.8,97.3,52.4,excellent,20.0,NaN,NaN
University of Chicago,United States,13.833,5.7,90.2,9,89.1,91.4,96.7,52.7,excellent,28.0,46.0,54.0
Imperial College London,United Kingdom,16.760,11.7,89.8,10,84.5,87.6,97.0,69.9,excellent,56.0,38.0,62.0

In [ ]:
# 4. Preverite koliko je manjkajočih podatkov v posameznem stolpcu.
df.isnull().sum()

Country                       0
Number_students               0
Numb_students_per_Staff       0
Score_Result                  0
Rank                          0
Teaching                      0
Research                      0
Citations                     0
Industry_Income               0
International_Outlook         0
International_Students(%)    38
Percentage_Female(%)         36
Percentage_Male(%)           27
dtype: int64

In [ ]:
# 5. Manjkajoče vrednosti za stolpec International_Outlook ročno dopolnite glede na stolpec Teaching
# - če je vrednost v posamezni vrstici za atribut Teaching:
# < 20 - dopolnite stolpec International_Outlook z vrednostjo "bad"
# > 60  - dopolnite stolpec International_Outlook z vrednostjo "excellent"
# vmesne vrednosti pa dopolnite z vrednostjo "good"

df.loc[df.Teaching < 20, "International_Outlook"] = "bad"
df.loc[df.Teaching > 60, "International_Outlook"] = "excellent"
df.loc[(df.Teaching >= 20) & (df.Teaching <= 60), "International_Outlook"] = "good"
df.International_Outlook

University of Oxford                              excellent
California Institute of Technology                excellent
University of Cambridge                           excellent
Stanford University                               excellent
Massachusetts Institute of Technology             excellent
                                                    ...
Cear� State University                                  bad
Pontifical Catholic University of Minas Gerais          bad
Bashkir State University                                bad
University of Caxias do Sul                             bad
Tokyo Denki University                                  bad
Name: International_Outlook, Length: 1396, dtype: object

In [ ]:
# 6. Manjkajoče vrednosti v ostalih stolpcih dopolnite s povprečjem stolpca.
df.fillna(df["International_Students(%)"].mean(), inplace=True)
df.fillna(df["Percentage_Female(%)"].mean(), inplace=True)
df.fillna(df["Percentage_Male(%)"].mean(), inplace=True)

df.isnull().sum()

Country                      0
Number_students              0
Numb_students_per_Staff      0
Score_Result                 0
Rank                         0
Teaching                     0
Research                     0
Citations                    0
Industry_Income              0
International_Outlook        0
International_Students(%)    0
Percentage_Female(%)         0
Percentage_Male(%)           0
dtype: int64

In [ ]:
# 7. Izpišite katere unikatne vrednosti obstajajo za atribut International_Outlook in koliko je primerkov posamezne kategorije.
df.International_Outlook.value_counts()

International_Outlook
good         877
bad          461
excellent     58
Name: count, dtype: int64

In [ ]:
# 8. Izpišite koliko je univerz v posamezni državi.
df.Country.value_counts()

Country
United States     172
Japan             110
United Kingdom    100
China              81
India              56
                 ...
Jamaica             1
Kenya               1
Uganda              1
Costa Rica          1
Georgia             1
Name: count, Length: 92, dtype: int64

In [ ]:
# 9. Izpišite vse univerze, ki se nahajajo v Sloveniji.
df.loc[df.Country == "Slovenia"]

,Country,Number_students,Numb_students_per_Staff,Score_Result,Rank,Teaching,Research,Citations,Industry_Income,International_Outlook,International_Students(%),Percentage_Female(%),Percentage_Male(%)
University of Ljubljana,Slovenia,40.110,14.7,29.5,356,21.1,18.7,44.8,39.7,good,6.0,60.0,40.0
University of Maribor,Slovenia,12.124,13.6,23.0,418,17.0,15.8,31.0,40.0,bad,5.0,55.0,45.0

In [ ]:
# 10. Ustvarite nov stolpec poimenovan Staff Skills, ki se naj izračuna kot vsota stolpcev Teaching in Research,
# deljeno z 2  (Teaching + Research/ 2). Izpišite prve tri vrstice in preverite izračunane vrednosti.

df["Staff Skills"] = (df.Teaching + df.Research) / 2
df.head(3)

,Country,Number_students,Numb_students_per_Staff,Score_Result,Rank,Teaching,Research,Citations,Industry_Income,International_Outlook,International_Students(%),Percentage_Female(%),Percentage_Male(%),Staff Skills
University of Oxford,United Kingdom,20.664,11.2,95.4,1,90.5,99.6,98.4,65.5,excellent,41.0,46.000000,54.0,95.05
California Institute of Technology,United States,2.240,6.4,94.5,2,92.1,97.2,97.9,88.0,excellent,30.0,11.086892,66.0,94.65
University of Cambridge,United Kingdom,18.978,10.9,94.4,3,91.4,98.7,95.8,59.3,excellent,37.0,47.000000,53.0,95.05

In [ ]:
# 11. Izbrišite stolpec Staff Skills.
df.drop("Staff Skills", axis=1, inplace=True)

,Country,Number_students,Numb_students_per_Staff,Score_Result,Rank,Teaching,Research,Citations,Industry_Income,International_Outlook,International_Students(%),Percentage_Female(%),Percentage_Male(%)
University of Oxford,United Kingdom,20.664,11.2,95.4,1,90.5,99.6,98.4,65.5,excellent,41.0,46.000000,54.0
California Institute of Technology,United States,2.240,6.4,94.5,2,92.1,97.2,97.9,88.0,excellent,30.0,11.086892,66.0
University of Cambridge,United Kingdom,18.978,10.9,94.4,3,91.4,98.7,95.8,59.3,excellent,37.0,47.000000,53.0

In [ ]:
# 12. DataFrame df shranite v csv kot "university_rank.csv" s seperatorjem ; in decimalnim znakom pika.
df.to_csv("university_rank.csv", sep=";", decimal=".")

In [ ]:
# 13. Izpišite tabelo desetih univerz z največjim Rank-om, sortirano od največje vrednosti, do najmanjše.
df.sort_values(by="Rank", ascending=False).head(10)

,Country,Number_students,Numb_students_per_Staff,Score_Result,Rank,Teaching,Research,Citations,Industry_Income,International_Outlook,International_Students(%),Percentage_Female(%),Percentage_Male(%)
Tokyo Denki University,Japan,9.285,25.6,10.7,535,15.2,9.3,3.4,39.6,bad,2.000000,12.000000,88.000000
University of Caxias do Sul,Brazil,17.101,24.9,11.0,534,13.8,7.8,7.6,35.0,bad,0.000000,54.000000,11.086892
Bashkir State University,Russian Federation,15.236,11.1,11.1,533,17.0,8.1,4.5,36.9,bad,3.000000,63.000000,11.086892
Pontifical Catholic University of Minas Gerais,Brazil,34.101,21.3,11.2,532,15.3,7.7,6.7,35.1,bad,11.086892,57.000000,11.086892
Cear� State University,Brazil,20.174,17.8,11.3,531,16.2,8.3,6.1,35.6,bad,11.086892,55.000000,45.000000
Chiba Institute of Technology,Japan,9.763,30.4,11.4,530,14.6,9.1,6.8,38.9,bad,11.086892,13.000000,87.000000
Federal University of Mato Grosso do Sul,Brazil,25.018,18.0,11.5,529,17.1,6.9,7.4,34.4,bad,0.000000,11.086892,51.000000
S�leyman Demirel University,Turkey,46.705,27.5,11.5,529,11.2,8.4,11.5,34.5,bad,3.000000,48.000000,52.000000
MIREA - Russian Technological University,Russian Federation,19.965,17.0,11.5,529,15.1,9.6,4.3,58.4,bad,3.000000,11.086892,67.000000
Perm State University,Russian Federation,9.252,10.5,11.7,528,18.1,9.7,3.3,37.9,bad,1.000000,11.086892,38.000000

In [ ]:
# 14. Izpišite povprečje prvega numeričnega stolpca
df.select_dtypes(include='number').mean().iloc[0]

29.11448065902579

In [ ]:
# 15. Na podlagi vrednosti obstoječega stolpca ustvarite nov smiseln stolpec.
df["Number_staff"] = df["Number_students"] / df["Numb_students_per_Staff"] * 1000
df.head(10)

,Country,Number_students,Numb_students_per_Staff,Score_Result,Rank,Teaching,Research,Citations,Industry_Income,International_Outlook,International_Students(%),Percentage_Female(%),Percentage_Male(%),Number_staff
University of Oxford,United Kingdom,20.664,11.2,95.4,1,90.5,99.6,98.4,65.5,excellent,41.000000,46.000000,54.000000,1845.000000
California Institute of Technology,United States,2.240,6.4,94.5,2,92.1,97.2,97.9,88.0,excellent,30.000000,11.086892,66.000000,350.000000
University of Cambridge,United Kingdom,18.978,10.9,94.4,3,91.4,98.7,95.8,59.3,excellent,37.000000,47.000000,53.000000,1741.100917
Stanford University,United States,16.135,7.3,94.3,4,92.8,96.4,99.9,66.2,excellent,11.086892,43.000000,57.000000,2210.273973
Massachusetts Institute of Technology,United States,11.247,8.6,93.6,5,90.5,92.4,99.5,86.9,excellent,34.000000,39.000000,61.000000,1307.790698
Princeton University,United States,7.983,8.1,93.2,6,90.3,96.3,98.8,58.6,excellent,25.000000,45.000000,55.000000,985.555556
Harvard University,United States,20.823,9.2,93.0,7,89.2,98.6,99.1,47.3,excellent,24.000000,49.000000,51.000000,2263.369565
Yale University,United States,12.402,5.4,91.7,8,92.0,94.8,97.3,52.4,excellent,20.000000,11.086892,11.086892,2296.666667
University of Chicago,United States,13.833,5.7,90.2,9,89.1,91.4,96.7,52.7,excellent,28.000000,46.000000,54.000000,2426.842105
Imperial College London,United Kingdom,16.760,11.7,89.8,10,84.5,87.6,97.0,69.9,excellent,56.000000,38.000000,62.000000,1432.478632